<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>404 Not Found</title>
  </head>
  <body style="width: 100%; height: 100%;">
		<span style="padding-right: 4em; font-size: 16pt;">
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠿⠟⠛⠉⠁⠀⠀⠀⠀⠀⠈⠉⠛⠛⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⣿⣶⣄⣠⣾⣷⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⣿⣿⣿⣿⣿⣿⡟⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⢈⣿⣿⣿⣿⣿⣄⠀⢹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⡀⠀⠀⠀⢻⡠⢿⣿⣿⣿⣿⣿⠟⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⢣⡀⠀⠀⠀⣇⠀⠙⢿⠏⠘⡏⠀⠀⠀⠀⢿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⠀⠀⠀⠀⢀⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣷⡀⠀⠀⠀⠀⣦⠀⠀⠈⢧⢠⠀⠀⠸⡄⠀⠀⠀⠀⢻⠀⠀⠀⠀⠸⡇⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠁⠀⠀⠀⠀⡼⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡟⢧⠀⠀⠀⠀⢘⡦⠤⠴⠾⣿⣷⠒⠶⢿⡀⠀⠀⠀⠘⡇⠀⠀⠀⠀⢻⡀⠘⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⡏⠀⠀⠀⠀⢠⠇⠀⠀⠀⠀⢀⠀⠀⣧⠀⠀⠀⠀⡇⠘⣧⢠⡄⠀⠀⢳⡄⠀⠀⠘⣾⡄⠀⠀⣇⡄⠀⠀⠀⢻⠀⠀⠀⠀⢸⡇⠀⠸⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣟⢀⡆⠀⠀⠀⣸⠀⣤⠀⠀⠀⢸⠀⠀⢸⠀⣀⡄⠀⡇⠀⠹⣆⢿⡄⠀⠀⢳⣤⡤⠤⠽⢿⡄⠀⠘⢺⠀⠀⠀⢸⡖⠦⣄⠀⢠⣧⠀⠀⢹⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣽⠀⠀⠀⠀⣿⢠⡏⠀⠀⠀⢸⡀⢀⣼⡏⠁⠀⠀⣷⠀⠀⠹⣾⣷⡀⠀⢯⣧⣤⣶⣶⣿⣿⣿⣿⣿⣶⡄⠀⠀⣇⠀⠈⢳⣼⡏⠀⠀⠘⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⢿⡏⢀⡀⠀⠀⢸⣾⡇⠀⠀⠀⢀⡷⠋⠀⣇⡴⠞⢉⣹⠀⠀⠀⠹⣿⢷⡀⠘⣆⠘⠋⢹⣿⣿⣿⣿⣿⡇⠀⠀⠀⣿⠀⠀⠈⣿⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⡿⠈⣷⡼⠁⠀⠀⠈⣿⡇⠀⠀⠀⠛⣷⢀⣴⣿⣾⣿⣿⣿⣿⠂⠀⠀⢹⣧⠙⠒⠛⠀⠀⠸⣿⣿⣿⣿⡿⢻⡄⠀⠀⣿⠀⠀⣼⣿⠀⠀⠀⠀⢻⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⡇⠀⠸⡇⣰⠀⠀⠀⢻⣿⠀⠀⠀⠀⠘⣿⣿⡿⢻⣿⣿⣿⣿⣷⡀⠀⠀⠀⠀⠀⠀⠀⠀⣴⣞⢻⡛⡽⣧⣼⡄⠀⠀⢹⣀⣴⣿⣿⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⢿⣧⠀⠀⣠⡼⣿⠀⠀⠀⠀⠀⣿⡟⠀⠀⢿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⣷⢿⣟⣷⢷⣼⢹⡇⠀⠀⠀⣿⣿⣿⣿⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⢸⣿⣦⡼⠁⠀⢻⡇⠀⠀⠀⠀⢸⣷⠀⢀⡈⠉⣿⣿⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⢸⣿⠀⢸⠀⢸⣿⣿⣿⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⢸⣿⣿⣧⠀⠀⠈⣧⠀⠀⠀⠀⢸⣿⡾⡟⣷⣤⣿⣿⡿⠋⠀⠀⠀⠀⠀⠀⣀⠀⠀⠀⠀⠀⠀⢀⣾⣿⠀⢸⠀⢸⣿⣿⣿⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⣿⣿⣿⣷⣄⡀⢹⡄⠀⠀⠀⠀⣿⡿⠷⣷⠛⠛⠛⠀⠀⠀⠀⠀⠰⠞⠋⠁⠀⠀⠀⠀⢀⣴⣿⣿⣿⠀⢸⠀⢸⣿⣿⣿⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣧⠀⠀⠀⠀⢿⣷⡀⠈⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣠⣴⣿⣿⣿⣿⣿⡆⢸⡀⠀⣿⣿⣿⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠘⣿⣿⣿⣿⣿⣿⣿⠀⣀⠀⠀⠘⣿⣿⣶⣦⣤⣤⣀⡀⠀⠀⠀⣀⣠⣤⣶⣿⠟⠀⢇⣿⣿⣿⣿⣿⣧⢸⣧⣰⣿⣿⡇⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⣿⠀⠸⡄⠀⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⢿⣿⣿⣿⠿⠛⠁⠀⠀⠈⠛⢿⣿⣿⣿⣿⡾⣹⣿⣿⣿⣷⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠸⣿⣿⣿⣿⣿⣿⡆⠀⣷⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⠟⣻⡿⠀⠀⠀⠀⠀⠀⠀⠀⣠⣿⣦⣝⣛⢿⣇⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣹⡇⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⣿⢳⡀⠹⣇⠀⢸⣟⣛⣻⣭⣭⣵⣶⣿⣿⠁⠀⠀⠀⠀⠀⠀⠀⣼⣿⣿⣿⣿⣿⣿⣿⣷⣮⣝⢿⡟⠀⠀⠀⠀⠀⠸⢻⣿⣿⣿
⣿⣿⣿⣿⣿⣿⢡⠀⠀⠀⠀⠀⠀⢻⣿⣿⣿⣿⣿⣼⣧⠀⢻⣆⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣀⣀⣀⣀⡀⠀⢠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡼⣷⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿
⣿⣿⣿⣿⣿⡝⢸⠀⠀⠀⠀⠀⠀⢸⣿⣿⣿⣿⣿⣿⣿⣧⠘⣿⣆⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣿⠀⠀⠀⠀⠀⠀⢘⣿⣿⣿
⣿⣿⣿⣿⣿⡇⠈⠀⠀⠀⠀⠀⠀⠘⣿⣿⣿⣿⣿⣿⢏⣿⣧⣹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⢿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠐⣿⣿⣿
⣿⣿⣿⣿⣿⣟⢀⡄⠀⠀⠀⠀⠀⠀⣿⣿⣿⣿⣿⡏⣼⣿⣿⣿⣿⣿⣿⡏⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⠛⠉⠀⢀⣼⣿⣿⣿⣿⣿⣿⣿⣇⠀⠀⠀⠀⠀⠈⣿⣿⣿
⣿⣿⣿⣿⣿⣧⠸⡇⠀⠀⠀⠀⠀⠀⢻⣿⣿⣿⣿⣹⣿⣿⣿⣿⣿⣿⣿⣧⠀⠙⢿⣿⣿⣿⣿⣿⠿⠛⠋⠁⢀⣀⢀⣀⣀⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⣿⣿⣿
		</span>
		<h1 style="color: crimson; font-size: 16pt; font-weight: 600; font-style: italic; font-family: arial;">404 Not Found</h1>
  </body>
</html>
